body {
  padding: 0 30px;
}

.ant-layout {
  max-width: 1000px;
  min-height: 100vh;
  margin: 0 auto;
  background-color: #fff;
}

.ant-menu,
.ant-input-group-wrapper,
.toggle-view,
.search-info {
  margin-bottom: 30px;
}

.toggle-view {
  display: flex;
  justify-content: right;
  font-size: 30px;
}

.toggle-view span {
  margin-right: 10px;
  cursor: pointer;
  color: #777
}

.video-item-card {
  width: 98%;
}

.search-form {
  width: 84%;
}

.search-button {
  width: 16%;
}

.icon {
  font-size: 18px;
  margin-left: 30px;
}

.icon-edit,
.icon-delete,
.icon-save,
.fav-search {
  color: dimgray;
  cursor: pointer;
}

.icon-save,
.icon-search {
  font-size: 20px;
}

.icon-save {
  color: #1890ff
}

.error-alert {
  margin: 20px;
}